body {
    font-size: 12pt;
}

#container {
    position: absolute;
    background-color: #fafafa;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    opacity: .95;
    border-bottom: 1px solid #efefef;
    height: 6em;
    width: 100%;
}

.header_item {
    position: relative;
    height: 4em;
    top: 50%;
    transform: translate(0, -50%);
}

.icon {

}

#content {
    width: 100%;
    margin: 6em auto 0;
    padding: 0;
}

