body {
    font-size: 12pt;
    margin: auto;
    color: #565656;
    font-family: 'Avenir', 'Helvetica Neue', sans-serif;   
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

#container {
    position: absolute;
    background-color: #fafafa;
    width: 100%;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    opacity: .95;
    border-bottom: 1px solid #efefef;
    height: 6em;
    width: 100%;
}

#header_container {
    position: relative;
    width: 80%;
    height: inherit;
    margin: auto;
    vertical-align: middle;
}

#header_icon_tray {
    float: right;
}

.header_icon {
    height: 1.4em;
    margin: 2.3em 0.5em;
}

#logo {
    height: 4em;
    margin: 1em auto 1em;
    float: left;
}

#content {
    width: 80%;
    margin: 8em auto 0;
    padding: 0;
}

