.post {
    display: block;
    max-width: 35em;
    border: 1px solid #efefef;
    background-color: white;
    margin: 4em 4em auto;
}

.post_photo {
    width: 100%;
}

.post_icon_tray {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.post_icon {
    height: 1.4em;
    margin: 0.2em;
}

.post_icon_large {
    height: 2.8em;
    margin: 0.2em;
}

.post_user {
    float: right;
    font-style: italic;
    margin: 0.2em;
}

.post_bottom {
    margin: 0.4em;
    font-size: 0.8em;
}

.post_likes {
    font-weight: bold;
    margin: 0.4em;
}

.post_comment {
    margin: 0.4em;
}

.post_comment_user {
    font-weight: bold;
    display: inline-block;
}

.post_comment_text {
    display: inline-block;
}

.post_new_comment {
    border-style: solid;
    border-color: #efefef;
    border-width: 1px 0 0 0;
    width: 100%;
    height: 3em;
    vertical-align: middle;
}

.post_new_comment_text {
    width: 92%;
    height: inherit;
    display: inline-block;
    border: none;
    margin: 0.2em;
}

.post_new_comment_icon {
    margin: 0;
}

.filter_icon{
    display: inline-block;
    width: 8em;
}